/* variable declarations */

:root {
  --espresso: rgb(70, 35, 0);
  --light-grey: rgb(245, 245, 245);
}

/* styles */

/* general */

body {
  background-color: bisque;
  font-family: "Stack Sans Headline", sans-serif;
}

h1 {
  color: var(--espresso);
}

.container {
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}

.main-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

/* new order block */

.new-order-backdrop {
  background-color: white;
  border-radius: 15px;
  height: fit-content;
  padding: 30px;
  width: 100%;
}

.new-order-button {
  background-color: var(--espresso);
  color: white;
  display: block;
  margin-bottom: 5px;
  margin-left: auto;
  margin-top: 5px;
}

.new-order-form {
  text-align: left;
}

/* all orders block */

.all-orders-backdrop {
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  width: 100%;
}

#all-orders-list {
  height: auto;
  max-height: 500px;
  overflow-y: auto;
}

/* order item */

.dropdown-item {
  color: var(--espresso);
}

.dropdown-item:focus,
.dropdown-item:active {
  background-color: var(--espresso);
  color: white;
}

.order-button {
  background-color: var(--espresso);
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
}

.order-buttons {
  padding: 15px;
  text-align: center;
}

.order-image {
  text-align: center;
}

.order-info {
  text-align: center;
}

.order-item {
  align-items: center;
  background-color: var(--light-grey);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  margin: 0 auto 10px;
  width: 95%;
}

.order-item p {
  margin: 7px 0;
}

/* media queries */

@media (max-width: 768px) {
  /* general styles */

  .container {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .main-container {
    grid-template-columns: 1fr;
  }

  /* order blocks */

  .new-order-backdrop,
  .all-orders-backdrop {
    padding: 15px;
  }

  /* order item */

  .order-button {
    width: 100%;
  }

  .order-item {
    grid-template-columns: 1fr;
    padding: 15px;
    width: 100%;
  }
}
