/* styles */

body {
  background-color: bisque;
  font-family: "Stack Sans Headline", sans-serif;
}

h1 {
  color: rgb(70, 35, 0);
}

.backdrop {
  background-color: white;
  border-radius: 15px;
  display: inline-block;
  width: 60%;
}

.container {
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}

.order-item {
  background-color: rgb(244, 244, 244);
  border-radius: 15px;
  display: inline-block;
  margin-bottom: 10px;
  width: 90%;
}
