/* PlantTypeCatalogCard styles*/

.card-icon {
  height: 10rem;
  image-rendering: pixelated;
  margin: auto;
  width: 10rem;
}

.card-name {
  font-size: medium;
}

.plant-type-catalog-card {
  /* box model */
  align-items: center;
  display: grid;
  flex: none;
  grid-template-rows: 12rem 3rem 3.5rem 1fr;
  height: 23rem;
  padding: 1rem;
  width: 12rem;

  /* font */
  font-size: small;
}
