/* styles */

body {
  background-color: blueviolet;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.backdrop {
  background-color: white;
  border-color: white;
  border-style: outset;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  width: 80%;
}

.container {
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}

.recipient-item {
  border: 3px inset white;
  margin: 15px;
}

.right {
  text-align: right;
}

#server-header {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.text {
  color: white;
}

.top-nav {
  background-color: white;
  border-color: white;
  border-style: outset;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px auto;
  padding: 20px;
  width: 90%;
}

.top-nav a,
.top-nav p {
  margin: 0px 0;
}

.top-nav-item {
  color: black;
}
