/* PlantTypeCard styles*/

.plant-type-card {
  /* box model */
  align-items: center;
  display: grid;
  flex: none;
  grid-template-rows: 12rem 3rem 3.5rem 1fr;
  height: 23rem;
  padding: 1rem;
  width: 12rem;

  /* font */
  font-size: small;
}

.plant-type-name {
  font-size: medium;
}

.image-test {
  border-radius: 1em;
  border-style: dashed;
  height: 10rem;
  margin: auto;
  width: 10rem;
}
