/* PlantTypeCard styles*/

.plant-type-card {
  align-items: center;
  display: grid;
  flex: none;
  font-size: small;
  grid-template-rows: 12rem 3rem 3rem 1fr;
  height: 23rem;
  padding: 1rem;
  width: 12rem;
}

.image-test {
  border-radius: 1em;
  border-style: dashed;
  height: 10rem;
  margin: auto;
  width: 10rem;
}
