/* PlantTypeCatalog styles*/

.card-area {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem;
  padding-bottom: 2rem;
}

.plant-type-catalog {
  margin-block: 6rem;
  text-align: center;
}
