/* variable declarations */

:root {
  --alpine-forest: rgb(35, 55, 45);
  --birch-wood: rgb(255, 240, 220);
  --morning-dew: rgb(235, 235, 225);
  --oak-bark: rgb(80, 45, 10);
  --spring-green: rgb(55, 185, 120);
}

/* global styles */

body {
  /* background */
  background: var(--morning-dew);
  background: linear-gradient(
    180deg,
    var(--morning-dew) 0%,
    var(--spring-green) 100%
  );

  /* container */
  padding: 20px;

  /* font */
  color: var(--alpine-forest);
  font-family: "DM Sans", sans-serif;
}

html {
  height: 100%;
}

.backdrop {
  /* container */
  background-color: var(--birch-wood);
  border-radius: 1em;
  box-shadow: 0 0.5em 2em 0 rgba(0, 0, 0, 0.15);

  /* font */
  color: var(--oak-bark);
}
